/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Libre+Baskerville&family=Montserrat:wght@100&family=Mukta:wght@300&display=swap');

/* ID's */
#content{
    max-width: 1600px;
    margin:0 auto;
    background-color: #dcdcdd;
}
#logo_link{
    padding-bottom: 5px;
}
#background{
    height:725px;
    background-color: #dcdcdd;
}
#hero-img{
    width:100%;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
/* header */
.icon{
    padding-top:10px ;
    width:80px;
}
.home-title{
    margin-top: 10px;
    font-size: 2em;
    color:#598392;
    font-family:"Libre Baskerrville";
}
.card-img{
    border:10px;
}
h2{
    margin: 0;
}
h4{
    font-family: "Montserrat";
    color:#598392;
}
header{
    background-color: #dcdcdd;
}
nav a{
    padding:35px;
    text-align: center;
    color: #80959c;
    text-decoration: none;
}
nav a:hover{
    color: #aec3b0;
    background-color: #124559
}
/* body */
.book, .join{
    border-radius: 5px;
    border-color:#aec3b0;
    margin-top: 50px;
    padding:15px 30px;
    font-size:18px;
    color:#124559;
    background-color:#dcdcdd;
    text-decoration:none;
}
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}
body{
    margin:0;
    padding:0;
    font-size: 22px;
    background-color:#124559 ;
}
main section{
    text-align: center;
}
.book:hover, .join:hover{
    color: #598392;
    background-color: #124559;
}
.msg{
    padding: 35px;
    background-color: #aec3b0;
}
.msg h2{
    font-family:"Libre Baskerrville";
    color:#124559;
}
.msg p{
    padding-bottom:15px;
    font-size:0.8em;
    color:#598392;
}

/* footer */
footer{
    margin-top: 200px;
    padding:25px 50px;
    color:#598392;
    background-color: #aec3b0;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color:#124559;
    text-decoration:none;
}
footer a:hover{
    color:#dcdcdd;
}
footer .social img{
    padding-top:15px;
}

