@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Overpass:wght@500&family=Questrial&family=Rubik:ital,wght@1,300&display=swap');

#content{
    max-width: 1600px;
    margin:0 auto;
    background-color: white;
    padding:0 auto;
}
body{
    margin:0 auto;
}
#logo_link{
    padding-top:5px;
    justify-self:center;
    align-self:center;
    padding-bottom: 5px;
    z-index:+1;
}

h1{
    text-align:center;
    color:#00a8e8;
}
h2{
    text-align:center;
    color:#007ea7;
}
nav{
    display:flex;
    justify-content:space-around;
    z-index:+1;
}
nav a{
    margin: 40px 10px 10px 10px;
    color: #003459;
    text-align:center;
    background-color: white;
    text-decoration: none;
    font-size:30px;
}
nav a:hover{
    color: #00a8e8;
    background-color: #00171f;
}
.info-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}
.face{
    grid-column: 1/2;
}
.school{
    grid-column:2/4;
}

.flip-card {
    background-color: transparent;
    width:600px;
    height: 600px;
    border: 1px solid #f1f1f1;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 600px;
    height: 600px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 600px;
    height: 600px;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #00171f;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #00171f;
    color: #00a8e8;
    transform: rotateY(180deg);
  }