#top{
    width:100%;
}
body{
    margin:0;
    padding:0;
    border:0;
    background-color: darkslategrey;
    text-align: center;
}
div{
    display:inline;
}
.circle{
    width:20%;
    border-radius: 50%;
    border:solid 10px; 
    border-color: darkgray;
    margin:35px;
}